[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pyhamcrest = "*"
pytest = "*"
pytest-bdd = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
